<html>
    <head>
    <title>BASE</title>
    {% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/smart-selects/admin/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static '/smart-selects/admin/js/bindfields.js' %}"></script>

    </head>
    <body>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

