<html>
    <head>
    <title>testing</title>
    {% load static %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
        <script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/GeneradorEvidencias.css' %}">
    </head>
    <body>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

