{% extends 'GeneradorEvidencias/base.html' %}
{% load static %}
{% block content %}
<div class="form-group row">
    <form method="POST" action="" class="post-form">
        <p></p>
        <legend>Generador de Evidencias</legend>
        <p>Completa los datos del siguiente formulario para obtener una plantilla de evidencia por cada caso de prueba. <strong>Recuerda subir el plan de pruebas en el formato acordado</strong></p>
        {% csrf_token %}
        {{ form.as_p }}
       <button type="submit" class="btn btn-primary">Generar Evidencias</button>
    </form>
</div>

{% endblock %}